/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.   © 2023, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved. 

API version: 2.2.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_udr_cli

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IndividualAuthenticationStatusDocumentAPIService IndividualAuthenticationStatusDocumentAPI service
type IndividualAuthenticationStatusDocumentAPIService service

type ApiCreateIndividualAuthenticationStatusRequest struct {
	ctx context.Context
	ApiService *IndividualAuthenticationStatusDocumentAPIService
	ueId string
	servingNetworkName string
	authEvent *AuthEvent
}

func (r ApiCreateIndividualAuthenticationStatusRequest) AuthEvent(authEvent AuthEvent) ApiCreateIndividualAuthenticationStatusRequest {
	r.authEvent = &authEvent
	return r
}

func (r ApiCreateIndividualAuthenticationStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateIndividualAuthenticationStatusExecute(r)
}

/*
CreateIndividualAuthenticationStatus To store the individual Authentication Status data of a UE

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ueId UE id
 @param servingNetworkName Serving Network Name
 @return ApiCreateIndividualAuthenticationStatusRequest
*/
func (a *IndividualAuthenticationStatusDocumentAPIService) CreateIndividualAuthenticationStatus(ctx context.Context, ueId string, servingNetworkName string) ApiCreateIndividualAuthenticationStatusRequest {
	return ApiCreateIndividualAuthenticationStatusRequest{
		ApiService: a,
		ctx: ctx,
		ueId: ueId,
		servingNetworkName: servingNetworkName,
	}
}

// Execute executes the request
func (a *IndividualAuthenticationStatusDocumentAPIService) CreateIndividualAuthenticationStatusExecute(r ApiCreateIndividualAuthenticationStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IndividualAuthenticationStatusDocumentAPIService.CreateIndividualAuthenticationStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/{ueId}/authentication-data/authentication-status/{servingNetworkName}"
	localVarPath = strings.Replace(localVarPath, "{"+"ueId"+"}", url.PathEscape(parameterValueToString(r.ueId, "ueId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"servingNetworkName"+"}", url.PathEscape(parameterValueToString(r.servingNetworkName, "servingNetworkName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authEvent == nil {
		return nil, reportError("authEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.authEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
