/*
Nudr_DataRepository API OpenAPI file

Unified Data Repository Service.   © 2023, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved. 

API version: 2.2.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_udr_cli

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EventExposureDataForAGroupDocumentAPIService EventExposureDataForAGroupDocumentAPI service
type EventExposureDataForAGroupDocumentAPIService service

type ApiQueryGroupEEDataRequest struct {
	ctx context.Context
	ApiService *EventExposureDataForAGroupDocumentAPIService
	ueGroupId string
	supportedFeatures *string
}

// Supported Features
func (r ApiQueryGroupEEDataRequest) SupportedFeatures(supportedFeatures string) ApiQueryGroupEEDataRequest {
	r.supportedFeatures = &supportedFeatures
	return r
}

func (r ApiQueryGroupEEDataRequest) Execute() (*EeGroupProfileData, *http.Response, error) {
	return r.ApiService.QueryGroupEEDataExecute(r)
}

/*
QueryGroupEEData Retrieves the ee profile data profile data of a group or anyUE

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ueGroupId Group of UEs or any UE
 @return ApiQueryGroupEEDataRequest
*/
func (a *EventExposureDataForAGroupDocumentAPIService) QueryGroupEEData(ctx context.Context, ueGroupId string) ApiQueryGroupEEDataRequest {
	return ApiQueryGroupEEDataRequest{
		ApiService: a,
		ctx: ctx,
		ueGroupId: ueGroupId,
	}
}

// Execute executes the request
//  @return EeGroupProfileData
func (a *EventExposureDataForAGroupDocumentAPIService) QueryGroupEEDataExecute(r ApiQueryGroupEEDataRequest) (*EeGroupProfileData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EeGroupProfileData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventExposureDataForAGroupDocumentAPIService.QueryGroupEEData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/subscription-data/group-data/{ueGroupId}/ee-profile-data"
	localVarPath = strings.Replace(localVarPath, "{"+"ueGroupId"+"}", url.PathEscape(parameterValueToString(r.ueGroupId, "ueGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.supportedFeatures != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supported-features", r.supportedFeatures, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
